@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Monoton&display=swap');

:root {
    --dark: #303030;
    --cream: #eddec4;
    --white: #f7f1e6; 
    --beige: #fcf3b4;
    --light-yellow: #d1b867;
    --yellow: #e7a134;
    --orange: #e96630;
    --red: #d24322;
    --blue: #06888a;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark);
    color: var(--cream);
    font-family: 'Josefin Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2 {
    font-size: 3rem;
}

.wrapper {
    color: var(--cream);
    background: var(--dark);
    max-width: 90rem;
    margin: 2rem auto;
}

.header,
.footer {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    box-shadow:
    inset 0 0 0 2rem var(--red),
    inset 0 0 0 4rem var(--orange), 
    inset 0 0 0 6rem var(--yellow);
    border-radius: 5rem;

}

.header__title {
    font-size: clamp(2rem, 8vw, 10rem);
    font-weight: 900;
    border-radius: 1rem;
    padding: 4rem;
    display: grid;
}

.main {
    background: var(--dark);
    color: var(--dark);
    border-radius: 1rem;
    padding: 2rem;
}

.utility-bar {
    padding: 1rem 0;
    position: sticky;
    background-color: var(--dark);
    top: 0;
    z-index: 2;
}

.utility-bar__searchbar {
    background-color: var(--cream);
    padding: 1rem;
    border-radius: .5rem;
}

.utility-bar__favorites-navigation-element {
    margin-left: 1rem;
    color: var(--dark);
    background-color: var(--cream);
    padding: 1rem;
    text-decoration: none;
    border-radius: .5rem;
}
.utility-bar__favorites-navigation-element:hover {
    color: var(--cream);
    background-color: var(--dark);
    border: 2px solid var(--cream);
}
.trailer-section {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: var(--cream);
    grid-template-columns: repeat(3, 1fr);
}

.trailer-section__title {
    grid-area: auto / auto / span 1 / span 3;
    align-self: center;
}

.trailer-section__video-player {
    grid-area: auto / auto / span 3 / span 3;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

.trailer-section__navigation-button {
    width: 50%;
    height: 100%;
}
.trailer-section__navigation-button--left {
    grid-area: 5 / 1 / auto / auto;
}

.trailer-section__navigation-button--right {
    grid-area: 5 / 3 / auto / auto;
    justify-self: end;
}

.toplist-section, 
.search-section,
.favorite-section {
    position: relative;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    background-color: var(--cream);
    border-radius: 1rem;
}

.toplist-section__title {
    grid-area: auto / auto / auto / span 4;
}

.toplist-section__movie-container,
.search-section__movie-container,
.favorite-section__movie-container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    transition: all .2s ease-in-out;
}

.toplist-section__movie-container:hover,
.search-section__movie-container:hover,
.favorite-section__movie-container:hover {
    cursor: pointer;
    scale: 1.03;
    box-shadow: 0 0 0 1px black;
}

.toplist-section__favorite-icon,
.search-section__favorite-icon,
.favorite-section__favorite-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    aspect-ratio: 1;
    width: 3rem;
    transition: all .2s ease-in-out;
}

.toplist-section__favorite-icon:hover,
.search-section__favorite-icon:hover,
.favorite-section__favorite-icon:hover {
    scale: 1.1;
}



.toplist-section__movie-title,
.search-section__movie-title,
.favorite-section__movie-title {
    grid-area: auto /auto / span 1 / span 2;
    font-weight: 700;
    padding: 1rem 0 .5rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-section__image,
.toplist-section__image,
.favorite-section__image {
    width: 100%;
    aspect-ratio: 2/3;
    grid-area: auto / auto / span 4/ span 2;
    pointer-events: none;
}

.more-info-container {
    position: absolute;
    display: grid;
    grid-template-columns: .7fr 1.3fr;
    background-color: var(--dark);
    color: var(--cream);
    padding: 4rem 2rem;
    margin: 2rem;
    width: inherit;
    border-radius: 1rem;
}

.more-info-container__info-wrapper {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.more-info-container__title {
    grid-area: 1/1/auto/span 2;
}
.more-info-container__director {
    grid-area: 2/1/auto/span 2;
}
.more-info-container__actor {
    grid-area: 3/1/auto/span 2;
}

.more-info-container__runtime {
    grid-area: 4/1/auto/span 1;
}
.more-info-container__rating {
    grid-area: 4/2/auto/span 2;
    justify-self: start;
}

.more-info-container__plot-and-poster-wrapper {
    grid-area: 6/1/auto/span 2;
    margin-top: 1rem;
    grid-template-columns: 1fr 1.7fr;
    display: grid;
}

.more-info-container__poster {
    aspect-ratio: 3/2;
}

.more-info-container__plot-text {
    line-height: 1.5;

}

.footer__home-navigation {
    font-size: clamp(2rem, 8vw, 10rem);
    font-weight: 900;
    border-radius: 1rem;
    padding: 4rem;
    color: var(--cream);
    text-decoration: none;
    align-self: center;
}
.d-none {
    display: none;
}

@media screen and (max-width: 1200px){

    .toplist-section__title,
    .favorite-section__title {
        grid-area: auto / auto / auto / span 3;
    }

    .toplist-section,
    .search-section,
    .favorite-section {
    grid-template-columns: repeat(3, 1fr);
    }
    .more-info-container {
        grid-template-columns:  1fr;
    }
}

@media screen and (max-width: 890px) {
    .wrapper {
        padding: 0 2rem;    
    }
    .main {
        padding: 0;
    }

    .toplist-section__title,
    .favorite-section__title {
        grid-area: auto / auto / auto / span 2;
    }
    .toplist-section,
    .search-section,
    .favorite-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    }
    .more-info-container__plot-and-poster-wrapper {
        grid-template-columns: 1fr;

    }

    .more-info-container__poster {
        aspect-ratio: 3/2;
        object-fit: scale-down;
        justify-self: center;
        margin-bottom: 1rem;
    }


}

@media screen and (max-width: 650px) {
    .wrapper {
        padding: .5rem .5rem;
        margin: 0;
    }
    h2 {
        font-size: 2rem;
    }

    .toplist-section__title,
    .favorite-section__title {
        grid-area: auto / auto / auto / span 1;
    }

    .toplist-section,
    .search-section,
    .favorite-section {
        padding: .5rem;
        gap: .5rem;
    }
    .trailer-section {

        padding: 2rem .5rem;

    }

    .more-info-container {
        padding: 1rem;
        margin: 0.5rem;
    }

    .toplist-section__movie-container,
    .search-section__movie-container,
    .favorite-section__movie-container {
        padding: .5rem;

    }

    .toplist-section__favorite-icon,
    .search-section__favorite-icon,
    .favorite-section__favorite-icon {
        top: 1rem;
        right: 1rem;
    }

}

@media screen and (max-width: 400px) {
    .wrapper {
        max-width: 400px;
    }
}


