@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Monoton&display=swap');

:root {
    --dark: #303030;
    --cream: #eddec4;
    --white: #f7f1e6; 
    --beige: #fcf3b4;
    --coral: #f35c43;
    --yellow: #e5a72b;
    --orange: #cd5e30;
    --red: #992800;
    --blue: #06888a;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark);
    color: var(--cream);
    font-family: 'Josefin Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    
}


h2 {
    font-size: 3rem;
    margin: 3rem 0;
}
.wrapper {
    color: var(--cream);
    background: var(--dark);
    padding: 0 4rem;
    max-width: 90rem;
    margin: 10rem auto;

}

.header {
    font-family: 'Monoton', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    margin-top: 10rem;

}

.header__title {
    font-size: clamp(2rem, 8vw, 10rem);
    font-weight: 100;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow:
    0 0 0 1rem var(--yellow),
    0 0 0 3rem var(--orange), 
    0 0 0 5rem var(--red),
    0 0 0 7rem var(--blue);
}

.main {
    background: var(--cream);
    color: var(--dark);
    border-radius: 1rem;
    padding: 2rem;

}

.utility-bar__searchbar {

    background-color: var(--cream);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.utility-bar__favorites-navigation-element {
    margin-left: 1rem;
    color: var(--dark);
    background-color: var(--cream);
    padding: 1rem;
    text-decoration: none;
    border-radius: .5rem;
}
.utility-bar__favorites-navigation-element:hover {
    color: var(--cream);
    background-color: var(--dark);
    border: 2px solid var(--cream);
}
.trailer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.trailer-section__videoplayer-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    border: 1rem solid var(--dark);
    padding: 8rem 2rem;
    border-radius: 1rem;
}

.trailer-section__title {
    align-self: start;
    padding: 2rem 0;  
}

.trailer-section__video-player {
    aspect-ratio: 16/9;
    width: 70%;
    border-radius: 1rem;
}
.trailer-section__arrow-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 2rem 0 6rem 0;
    margin: 1rem;
    transition: all .2s ease-in;
}
.trailer-section__arrow-wrapper:hover {
    cursor: pointer;
    scale: 1.1;
}

.trailer-section__arrow{
    color: var(--dark);
    font-size: 10rem;
    margin-bottom: -2rem;
}

.trailer-section__direction-paragraph {
    font-size: 1.5rem;
    align-self: center;
}

.toplist-section, 
.search-section,
.favorite-section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.toplist-section__title {
    grid-area: auto / auto / auto / span 4;
}

.toplist-section__movie-container,
.search-section__movie-container,
.favorite-section__movie-container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    transition: all .2s ease-in-out;
}

.toplist-section__movie-container:hover,
.search-section__movie-container:hover,
.favorite-section__movie-container:hover {
    cursor: pointer;
    scale: 1.1;
}

.toplist-section__favorite-icon,
.search-section__favorite-icon,
.favorite-section__favorite-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    aspect-ratio: 1;
    width: 3rem;
    transition: all .2s ease-in-out;
}

.toplist-section__favorite-icon:hover,
.search-section__favorite-icon:hover,
.favorite-section__icon:hover {
    scale: 1.1;
}



.toplist-section__movie-title,
.search-section__movie-title,
.favorite-section__movie-title {
    grid-area: auto /auto / span 1 / span 2;
    font-weight: 700;
    padding: 1rem 0 .5rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-section__image,
.toplist-section__image,
.favorite-section__image {
    width: 100%;
    grid-area: auto / auto / span 4/ span 2;
    pointer-events: none;
}

.more-info-container {
    position: absolute;
    background-color: var(--dark);
    color: var(--cream);
    box-shadow:
    0 0 0 1rem var(--yellow),
    0 0 0 3rem var(--orange), 
    0 0 0 5rem var(--red),
    0 0 0 7rem var(--blue);
    padding: 4rem 2rem;
    width: 50vw;
    border-radius: 1rem;

    left: 25%;
    top: 50%;
}

.more-info-container__plot-text {
    line-height: 1.5;
}

.d-none {
    display: none;
}

@media screen and (max-width: 1200px){
    .toplist-section__title,
    .favorite-section__title {
        grid-area: auto / auto / auto / span 3;
    }
    .toplist-section,
    .search-section,
    .favorite-section {
    grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 890px) {
    .wrapper {
        padding: 0 2rem;    
    }

    .toplist-section__title,
    .favorite-section__title {
        grid-area: auto / auto / auto / span 2;
    }
    .toplist-section,
    .search-section,
    .favorite-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        padding: 0 .5rem;    
    }
    .toplist-section__title,
    .favorite-section__title {
        grid-area: auto / auto / auto / span 1;
    }
    .toplist-section,
    .search-section,
    .favorite-section {
    gap: .5rem;
    grid-template-columns: repeat(1, 1fr);
    }
}

